<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="public/less/main.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
</head>
<body ng-app="yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:collapsed}" ng-controller="navs">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="public/images/avatar.png">
					</div>
					<span>登录</span>
				</dt>
				<dd ng-class="{active:k==num}" ng-repeat="(k,n) in navs">
					<a href="{{n.href}}" class="{{n.icon}}" ng-click="toggle()">
						<span>{{n.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:collapsed}">
				<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
				<h2>{{title}}</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:collapsed}">
				<div ng-view></div>
			</div>
		</div>
	</div>
	<!--<script src="public/libs/toggle.js"></script> -->
</body>
</html>