
<div class="item">
	<!-- 日期分类 -->
	<div class="mark">{{time}}</div>
	<ul class="posts">
		<!-- 文章 -->
		<li ng-repeat="post in posts">
			<span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>
			<div class="cont">
				<h3>{{post.title}}</h3>
				<div class="brief">
					<!-- 纯文字 -->
					<p class="only" ng-if="post.display_style==10001">
						{{post.abstract}}
					</p>
					<!-- 纯图片 -->
					<div class="gallery" ng-if="post.display_style==10003">
						<img src="{{post.thumbs[0].small.url}}">
					</div>
					<!-- 文字+图片 -->
					<p ng-if="post.display_style==10002">
						{{post.abstract}}
					</p>
					<div class="thumb" ng-if="post.display_style==10002">
						<img src="{{post.thumbs[0].large.url}}">
					</div>
				</div>
			</div>			
		</li>
	</ul>
</div>